certifi==2018.1.18
chardet==3.0.4
click==6.7
decorator==4.2.1
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
geocoder==1.38.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
psycopg2==2.7.4
python-google-places==1.4.1
ratelim==0.1.6
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.5
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
