{% extends "layout.html" %}

{% block content %}
<main class="about-section">
    <div class="container">
      <div class="row">
      	
      	<div class="col-md-2"></div> 
    	<div class="col-md-6">
    		<br>
      	<br>
	        <h2>Introducing Cocktail Club</h2>
	        <p>We are a community of cocktail enthusiasts who aim to share our passion for drink making with others. The platform enables anyone who visits to read and enjoy drink recipes created by the community. Become a member today and start sharing your own recipes with the greater cocktail community!</p>
    	</div>
      </div>
    </div>
</main>
{% endblock %}
