{% extends "layout.html" %}

{% block content %}
	<main class="container signup-section">
			<div class="section-content">
				<h2>Add an Ingredient</h2>

				<form method="POST" action="/add/ingredient">
					{{ ingForm.hidden_tag() }}

					<div class="form-group">
						{{ ingForm.ingredientname.label }}
						{% if ingForm.ingredientname.errors %}
							{% for error in ingForm.ingredientname.errors %}
								<p class="error-message">{{ error }} </p>
							{% endfor %}
						{% endif %}
						{{ ingForm.ingredientname }}
					</div>

					{{ ingForm.submit(class="btn-primary") }}
				</form>

				<p>{{ message }} </p>
			</div>
	</main>
{% endblock %}