{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
    <div class="container">
        
        <div class="section-content">
            <br>
            <br>
            <div class= header>
                <ul class ="list list-inline">
                    <li class = "list-inline-item">    
                        <h2>Discover the Community's Favourite Recipes!</h2>
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-outline-primary btn-sm"><a class="fa fa-plus button" href= "{{ url_for('addRecipe') }}">Add Recipe</a></span>
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-outline-primary btn-sm"><a class="fa fa-plus button" href= "{{ url_for('addIngredient') }}">Add Ingredient</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card my-4">
          <span data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <h5 class="card-header">Filter by Ingredient <i class="fa fa-angle-down"></i></h5>
          </span>
          <div class="collapse" id="collapseExample">  
        <div class="card card-body">
            <form method="POST" action="/">
              <div class="btn-group-toggle" data-toggle="buttons">
                {% for i in ingredients %}
                  {% if i.ingredientid in filters %}
                    <label class="btn btn-outline-dark btn-sm active">
                      <input type="checkbox" checked name="{{ i.ingredientid }}" class="active" autocomplete="off">{{ i.ingredientname }}
                    </label>
                  {% else %}
                    <label class="btn btn-outline-dark btn-sm">
                      <input type="checkbox" name="{{ i.ingredientid }}" class="active" autocomplete="off">{{ i.ingredientname }}
                    </label>
                  {% endif %}
                {% endfor %}
                <br><br>
              </div>
              <input class="btn btn-primary" type="submit" value="Filter">
            </form>
          </div>
        </div>
        </div>

        <div class="list-group">
          {% for recipe in recipes %}
            <a href="{{ url_for('recipe', id=recipe.recipeid) }}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{ recipe.recipetitle }}</h5>
              </div>
              <p class="mb-1">{{ recipe.recipedesc }}</p>
              <small>Written By: {{ recipe.getAuthorName(recipe.authorid) }}</small>
              <ul class="list-inline list-unstyled">
              <li class="list-inline-item"><span><i class="fa fa-calendar"></i> {{ recipe.getDaysSinceString() }}</span></li>
              <li class="list-inline-item">|</li>
              <span><i class="fa fa-comment"></i> {{ recipe.countComments() }} comments</span>
              <li class="list-inline-item">|</li>
              <span><i class="fa fa-glass"></i>
                {% for i in recipe.ingredients %}
                  <span class="badge badge-secondary">{{ i.ingredientname }}</span>
                {% endfor %}
              </span>
              </ul>
            </a>
            <br>
          {% endfor %}
          <hr>
    </div>
</main>

{% endblock %}
