{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
    <div class="container">
        
        <div class="section-content">
            <br>
            <br>
            <div class= header>
                <ul class ="list list-inline">
                    <li class = "list-inline-item">    
                        <h2>Discover the communities favourite drink recipes</h2>
                    </li>
                    <li class="list-inline-item">
                        <span><a class="fa fa-plus button" href= "{{ url_for('addRecipe') }}"> Add Recipe</a></span>
                    </li>
                </ul>
            </div>
            <br>
        </div>

        <div class="list-group">
          {% for recipe in recipes %}
            <a href="{{ url_for('recipe', id=recipe.recipeid) }}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{ recipe.recipetitle }}</h5>
              </div>
              <p class="mb-1">{{ recipe.recipedesc }}</p>
              <small>Written By: {{ recipe.getAuthorName(recipe.authorid) }}</small>
              <ul class="list-inline list-unstyled">
              <li class="list-inline-item"><span><i class="fa fa-calendar"></i> {{ recipe.getDaysSinceString() }}</span></li>
              <li class="list-inline-item">|</li>
              <span><i class="fa fa-comment"></i> {{ recipe.countComments() }} comments</span>
              </ul>
            </a>
            <br>
          {% endfor %}
          <hr>

          {% for fr in filteredRecipes %}
            <p>yay</p>
          {% endfor %}
    </div>
</main>

{% endblock %}
