{% extends "layout.html" %}

{% block content %}

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
 </head>
	<main class="container signup-section">
		<div class="section-content">
			<h2>Log in</h2>

			<form method="POST" action="/login">
				{{ form.hidden_tag() }}

				<div class="form-group">
					
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<p class="error-message">{{ error }} </p>
						{% endfor %}
					{% endif %}
					{{ form.email.label }}
					{{ form.email }}
				</div>

				<div class="form-group">
					{{ form.password.label }}
					{% if form.password.errors %}
						{% for error in form.password.errors %}
							<p class="error-message">{{ error }} </p>
						{% endfor %}
					{% endif %}
					{{ form.password }}
				</div>

				{{ form.submit(class="btn-primary") }}
			</form>
		</div>
	</main>
	<body>
        <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="/login">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Please Login</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>

							{{ form.email(class_="form-control", placeholder="you@example.com")}}
                            <!--<input type="text" name="email" class="form-control" id="email"
                                   placeholder="you@example.com" required autofocus>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {% if form.email.errors %}
								{% for error in form.email.errors %}
									<i class="fa fa-close"></i> <p class="error-message">{{ error }} </p>
								{% endfor %}
							{% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            {{ form.password(class_="form-control", placeholder="Password")}}

                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        {% if form.password.errors %}
								{% for error in form.password.errors %}
									<i class="fa fa-close"></i> <p class="error-message">{{ error }} </p>
								{% endfor %}
							{% endif %}   
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" href="/password/reset">Register</a>
                </div>
            </div>
        </form>
    </div>
</body>

	<style>

		.form-group input:focus {
		  outline: 0;
		}

		.form-group .error-message {
		  margin: 10px 0;
		  color: #db4437;
		}

		.form-group .error-message + input {
		  border-bottom: 2px solid #db4437;
		}

		.error-message {
		  color: #db4437;
		}
	</style>
{% endblock %}