{% extends "layout.html" %}

{% block content %}
<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
</head>
<main class="hero-section">
    <div class="container">
        <div class="section-tabs">
            {% for place in places %}
                <article>
                    <!-- NOTE WE SHOULD MAKE A CSS CLASS FOR BOTH bar-icon AND walking-distance (change to bar-address. -->
                    <img src="{{ place.icon }}"></img>
                    <a class="name" href="{{ place.url }}" target="_blank">{{ place.name }}</a>
                    <p class="bar-address">{{ place.formatted_address }}</p>
                </article>
            {% endfor %}
        </div>

        <div class="section-map">
            <!--This nav class could be changed to reflect a bootstrap nav bar that we are using.-->
            <div class="nav">
                <form  method="POST" action="/maps">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {% if form.address.errors %}
                            {% for error in form.address.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        {{ form.address(placeholder="Explore Nearby") }}
                    </div>
                    
                    {{ form.submit(class="btn-primary") }}

                </form>
            </div>

            <div id="map"></div>
        </div>        
    </div>
</main>

<script type="text/javascript">
    var planes = [
    {% for place in places %}
        ["<h3><a href='{{ place.url }}' target='_blank'>{{ place.name }}</a></h3>", {{ place.geo_location["lat"] }}, {{ place.geo_location["lng"] }} ],
    {% endfor %}
    ];

    var map = L.map('map').setView([{{ my_coordinates["lat"] }}, {{ my_coordinates["lng"] }}], 15);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors', 
            maxZoom: 18,
        }
    ).addTo(map);

    for (var i = 0; i < planes.length; i++) {
        marker = new L.marker([planes[i][1], planes[i][2]])
            .bindPopup(planes[i][0])
            .addTo(map);
    }

</script>

{% endblock %}