
{% extends "layout.html" %}

{% block content %}
  <br>
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-12">
        <form class="form-horizontal" method="POST" action="/add/recipe">
          {{ recForm.hidden_tag() }}
        <fieldset>

      <!-- Form Name -->
        <br>
        <legend>Create a Recipe</legend>

        <!-- Text input-->
        <div class="form-group">
        <div class="col-md-8">
          <label class="col-md-4 control-label">Recipe Name</label>
          <br>
          {{ recForm.recipetitle(class="form-control") }}
          <hr>
        </div>
        </div>

        <div class="form-group">
          <div class="col-md-8">
            <h5><label class="col-md-6 control-label ">Select Ingredients</label></h5>
            
              <!--<div class="btn-group-toggle" data-toggle="buttons">-->
              {{ recForm.recipeingredients(class="list-inline col-md-4") }}
              
              <!--</div>-->
            <hr>
          </div>
        </div>

        <!-- Textarea -->
        
        <div class="col-md-8">
        <div class="card my-4">
          <h5 class="card-header">Recipe Description:</h5>
            <div class="card-body">
              
                <div class="form-group">

                  {{ recForm.recipedesc(class="form-control", rows=10) }}
              </div>
                {{ recForm.submit(class="btn btn-primary") }}
          </div>
        </div>
      </div>
      

        

        <p>{{ message }} </p>
        </fieldset>
        </form>
</div>
</div>
</div>
{% endblock %}
