{% extends "layout.html" %}

{% block content %}
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ recipe.recipetitle }}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ recipe.getAuthorName(recipe.authorid) }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ recipe.recipedate }}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <p>{{ recipe.recipedesc }}</p>

          <hr>

          <!-- Comments Form -->
          {% if session['email'] %}
            <div class="card my-4">
              <h5 class="card-header">Leave a Comment:</h5>
              <div class="card-body">
                <form method="POST" action="{{ url_for('recipe', id=recipe.recipeid) }}">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    {% if form.commentdesc.errors %}
                      {% for error in form.commentdesc.errors %}
                        <p class="error-message">{{ error }} </p>
                      {% endfor %}
                    {% endif %}
                    {{ form.commentdesc(class="form-control", rows="3")}}
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                  </div>
                  {{ form.submit(class="btn btn-primary") }}
                  <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </form>
              </div>
            </div>
          {% else %}
            <h5><a href="{{ url_for('login') }}">Log in </a>now to leave a comment!</h5>
            <hr>
          {% endif %}

        {% for comment in recipe.comments %}
          <!-- Single Comment -->
          <div class="media mb-4">
            <!-- TODO:Ditching commentor image? -->
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ comment.getAuthorName(comment.authorid) }}</h5>
              <!-- TODO:Make the following p tag a small font maybe light grey date and comment-body class whatever we want -->
              <p>Posted {{ comment.commentdate }}</p>
              <div class="comment-body">
                {{ comment.commentdesc }}
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
{% endblock %}